---
import HeroText from "./HeroText.astro";
---

<section
  id="om-mig"
  class="text-white h-screen flex flex-col items-center justify-center relative"
>
  <HeroText />
  <div class="absolute bottom-2 left-10 md:flex items-end hidden">
    <svg
      width="12"
      height="255"
      viewBox="0 0 12 255"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1.08822 248.461C1.28822 248.261 1.52989 248.165 1.81322 248.173C2.09655 248.182 2.33822 248.286 2.53822 248.486L5.36322 251.311L5.17117 1.5C5.17117 1.21667 5.26717 0.979 5.45917 0.787C5.6505 0.595667 5.88783 0.5 6.17117 0.5C6.4545 0.5 6.69217 0.595667 6.88417 0.787C7.0755 0.979 7.17117 1.21667 7.17117 1.5L7.36322 251.311L10.2132 248.461C10.4132 248.261 10.6509 248.161 10.9262 248.161C11.2009 248.161 11.4382 248.261 11.6382 248.461C11.8382 248.661 11.9382 248.899 11.9382 249.174C11.9382 249.449 11.8382 249.686 11.6382 249.886L7.06322 254.461C6.96322 254.561 6.85489 254.632 6.73822 254.674C6.62155 254.716 6.49655 254.736 6.36322 254.736C6.22989 254.736 6.10489 254.716 5.98822 254.674C5.87155 254.632 5.76322 254.561 5.66322 254.461L1.06322 249.861C0.879888 249.678 0.788221 249.449 0.788221 249.174C0.788221 248.899 0.888223 248.661 1.08822 248.461Z"
        fill="white"></path>
    </svg>
    <span
      class="font-semibold pb-24"
      style={{
        writingMode: "vertical-rl",
        textOrientation: "mixed",
      }}>Skrolla inte nedåt...</span
    >
  </div>
</section>
