---
import Kodnord3dText from "./Kodnord3dText.astro";
import KodnordText from "./KodnordText.astro";
---

<section
  id="om-mig"
  class="text-white h-screen flex flex-col items-center justify-center"
>
  <KodnordText />
</section>
