---
import Kodnord3DText from "./Kodnord3dText.astro";
---

<section
  id="om-mig"
  class="py-24 px-6 relative text-white flex flex-col items-center justify-center h-screen"
>
  <Kodnord3DText />
</section>
