---
import LampContainer from "./Lamp.astro";
---

<div
  class="absolute sm:pb-40 w-full h-full flex flex-col justify-center items-center overflow-hidden"
>
  <LampContainer />

  <div class="absolute bottom-6 z-10 animate-bounce text-white opacity-60">
    ↓ scroll
  </div>
</div>
