---
import BaseHead from "../components/BaseHead.astro";

const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="sv">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <main>
      <h1>Astro</h1>
      <slot />
    </main>
  </body>
</html>
